/* Disable user agent CSS */

* {
  margin: 0;
  padding: 0;

  -webkit-margin-before: 0;
  -webkit-margin-after: 0;

  box-sizing: border-box;
  /*  border: 1px dotted;*/
}

/*---------------------------*/


:root {
  --header-bg-color: #24292e;
  --header-font-color: #aaa;
  --h-font-color: #444;
  --font-color: #1c1c1c;
  --link-color: #444;
  --link-visited-color: #4a4a4a;

  --defaul-scrollbar-bg-color: #f1f1f1; /*rgba(241, 241, 241, 1) || rgba(0, 0, 0, 0.06) || hsla(0, 0%, 95%, 1)*/
}


/*---------------------------*/

.hidden {
  display: none;
}

.radial-background {
  background: radial-gradient(farthest-side ellipse at 50% 50%, white, rgba(0, 0, 0, 0.06));
}

.centering-lines {
  text-align: center;
  padding-bottom: 0.001em;
}

.centering-boxes-column { /* Ширина блока – наибольшая длина содержимого */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centering-boxes-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.centering-boxes-in-columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;


  position: fixed;
  top: 0;
  left: 0;
}

.footnote {
  color: #888;
  margin: 0;
}



.main-container-old {
  flex-grow: 5;
  max-width: 980px;
  margin: 0 auto;
  padding-bottom: 0.33em;
}



.wrapper {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex-grow: 1;

  min-height:100vh;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 10;
}

.lateral-content {
  display: flex;
  width: 100%;
}

.left-lateral-content {
  justify-content: flex-end;
  background: linear-gradient(to left, #FFF, rgba(0, 0, 0, 0.06) 90%);
}

.right-lateral-content {;
  justify-content: flex-start;
  background: linear-gradient(to right, #FFF, rgba(0, 0, 0, 0.06) 90%);
}

.inner-lateral-content {
  z-index: 0;
  padding-top: 8px;
  margin: 0 16px;
  max-width: 400px;
  background-color: white;
  box-shadow: 0 0 200px 200px rgba(255, 255, 255, 1);
  align-self: flex-start;
  border-radius: 8px;
}

.medial-content {
  width: 100%;
  z-index: 5;
  padding: 0 16px;
}

.medial-header {
  background-color: var(--header-bg-color);
  justify-items: center;
  justify-content: space-between; /*!important*/
  padding-right: 16px;
}


.inner-header {
  /*flex-grow: 1;*/ /*Иначе различное количество контента внутри будет влиять на размер*/
  width: 100%;
  color: var(--header-font-color);
  background-color: var(--header-bg-color);
  z-index: 10;
}

.header {
  min-height: 3em;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.avatar img {
  display: block;
  width: 46px;
  height: 46px;
  margin: 8px;
}

.avatar img:hover {
  box-shadow: 0 0 2px 1px #aaa;
}



/* Standard tags */

html {
  color: var(--font-color);
  font-family: 'Roboto', sans-serif;

  /* Scrollbar fix */
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100%;
  display: flex;
}

h1,
h2 {
  color: var(--h-font-color);
}

h1 {
  font-size: 2em;
  padding-top: 0.67em;
  margin-bottom: 0.67em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

h2 {
  font-size: 1.5em;
  padding-top: 0.85em;
  margin-bottom: 0.85em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.66em;
}

li > p {
  margin-left: 0;
}

ol,
ul {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1.5em;
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: bolder;
}

a:visited {
  color: var(--link-visited-color);
}

a:hover {
  text-decoration: underline;
  /*text-decoration: none;*/
  /*text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.25);*/
}


button {
  padding: 2px 6px 3px;
}

hr {
  width: 100%;
  height: 1px;
  margin: 2em 0;
  border: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .25), rgba(0, 0, 0, 0) 90%);
}

/*---------------------selection------------------*/

::selection {
  background: #24292e;
  color: #f1f1f1;
}

/*-----------------webkit-scrollbar----------------*/

/*::-webkit-scrollbar {*/
  /*width: 12px;*/
  /*!*background-color: #f1f1f1;*!*/
/*}*/

/*::-webkit-scrollbar-thumb:window-inactive {*/
  /*background-color: #ccc;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
  /*background-color: #bbb;*/
/*}*/

/*::-webkit-scrollbar-thumb:hover {*/
  /*background-color: #aaa;*/
/*}*/

/*::-webkit-scrollbar-thumb:active {*/
  /*background-color: #999;*/
/*}*/


/*
::-webkit-scrollbar-button {
  height: 8px;
}*/

/*  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .10), rgba(0, 0, 0, 0) 90%);*/





/*---------------------media------------------*/


@media screen and (max-width: 1400px) {
  .inner-lateral-content {
    display: none;
  }

  .right-header * {
    display: none;
  }

  .left-header * {
    display: none;
  }
}


@media screen and (min-width: 980px) {
  .medial-content, .medial-header {
    min-width: 980px;
    max-width: 980px;
  }
}

@media screen and (max-width: 980px) {
  .lateral-content, .inner-header:not(.medial-header) {
    display: none;
  }
}


@media screen and (max-width: 319px) {
  /* "overflow-x: auto;" - либо у body, либо у html */
  body {
    display: flex;
    /* Можно скроллить везде, на компе скрол - в самом низу будет */
    overflow-x: auto;
  }
  html {
    /* Есть скролл на компе, нельзя скроллить на мобиле */
    /*overflow-x: auto;*/
  }

  .wrapper {
    align-self: stretch;
    flex-grow: 1;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }
}
