.center {
    text-align: center;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}



/* Disable user agent CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px dotted;*/

    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

/* Standard tags */

body {
    margin: 8px;
}

h1 {
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

h2 {
    margin-top: 0.85em;
    margin-bottom: 0.85em;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

ol {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 40px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}